In [16]:
import os
import pyspark.sql.functions as F

In [2]:
os.listdir('/home/daman/Downloads/financial_trans')

['users_data.csv',
 'transactions_data.csv',
 'mcc_codes.json',
 'train_fraud_labels.json',
 'cards_data.csv']

In [3]:
from pyspark.sql import SparkSession
spark=(SparkSession
        .builder
        .appName("SparkApp")
        .getOrCreate())

25/04/24 09:02:37 WARN Utils: Your hostname, ubuntu resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/04/24 09:02:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/24 09:02:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [10]:
df1=spark.read.csv("/home/daman/Downloads/financial_trans/users_data.csv",header=True)
df1.createOrReplaceTempView('users_data')

df1.limit(1).show()

+---+-----------+--------------+----------+-----------+------+-------------+--------+---------+-----------------+-------------+----------+------------+----------------+
| id|current_age|retirement_age|birth_year|birth_month|gender|      address|latitude|longitude|per_capita_income|yearly_income|total_debt|credit_score|num_credit_cards|
+---+-----------+--------------+----------+-----------+------+-------------+--------+---------+-----------------+-------------+----------+------------+----------------+
|825|         53|            66|      1966|         11|Female|462 Rose Lane|   34.15|  -117.76|           $29278|       $59696|   $127613|         787|               5|
+---+-----------+--------------+----------+-----------+------+-------------+--------+---------+-----------------+-------------+----------+------------+----------------+

In [15]:

df1.toPandas().head(1)

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5

In [21]:
df1.withColumn('retirement_age',  F.col('retirement_age') - 5).toPandas().head(1)

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,61.0,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5

In [ ]:
display(spark.sql("""
select 
id, gender,birth_date,address,yearly_income,total_debt
from users_data
""").toPandas().head(2))